#cbi_ancor {
		background: url("/bitrix/templates/poligon_i/images/cbi_ancor.jpg") no-repeat;
		background-size: 100%;
		height: 440px;
}
#cbi_sertificates {
		display: none;
		wigth: 100%;
		height: 211px;
		background: url(/bitrix/templates/poligon_i/images/cbi_sertificates_bg.jpg) repeat-x #fe3535;
		#margin-bottom: 20px;
}
.cbi_sertificates_list{
		width: 1550px;
		margin: auto;
		padding-top: 10px;
}
.cbi_sertificate_thumb{
		height: 180px;
		box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Параметры тени */
		margin-right: 10px;
}
.cbi_sertificate_arrow{
		height: 180px;
		margin-right: 10px;
}
#cbi_logo_story_container {
	   position:relative;
	   width:450px;
	   height:420px;
		background: #fe3535;
	   margin-top: 30px;
}
#cbi_story{
		background: #fe3535;
		font:14px Arial, Helvetica, sans-serif;
		text-decoration:none;
		font-weight:normal;
		text-align: left;
		position:relative;
		#height:0px;
		#opacity:0;
		display: none;
		width: 450px;
		margin-top: -40px;
		color:#fff;
}
#cbi_hide_story_arrow{
		width: 140px;
		margin-top: 0px;
		margin-left: 155px;
		display: none;
}
#cbi_logo_story_container2{
		position:relative;
		width:450px;
		height:420px;
		background: #fe3535;
		margin-top: 30px;
}
#cbi_story2{
		background: #fe3535;
		font:14px Arial, Helvetica, sans-serif;
		text-decoration:none;
		font-weight:normal;
		text-align: left;
		position:relative;
		#height:0px;
		#opacity:0;
		display: none;
		width: 450px;
		margin-top: -40px;
		color:#fff;
}
#cbi_hide_story_arrow2{
		width: 140px;
		margin-top: 0px;
		margin-left: 155px;
		display: none;
}
#cbi_logo {
		position:relative;
		height: 110px;
		text-align: left;
		margin-top: -50px;
		№margin-left: 50px;
}
#cbi_device_image {
		height: 370px;
		margin-top: -40px;
		float: right;
}
.cbi_page{
		font:20px Arial, Helvetica, sans-serif;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		height: 600px;
		background: #fe3535;
		width: 100%;
		margin-top: -50px;
}
.cbi_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 40px;
}
.cbi_page h2{
		font:20px Arial, Helvetica, sans-serif;
		color:#fff;
		text-decoration: none;
		font-weight:bold;
		text-align: left;
}
.cbi_page h2:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration: none;
		font-weight:bold;
		text-align: left;
}
.redline_cbi{
		font:20px Arial, Helvetica, sans-serif;
		color:#ffdd00;
		text-decoration: none;
		font-weight:bold;
		text-align: left;		
}
.redline:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration: none;
		font-weight:bold;
		text-align: left;		
}
.cbi_page a{
		font:26px Arial, Helvetica, sans-serif;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.cbi_page a:hover{
		font:26px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}