#relequick_ancor {
		background: url("/bitrix/templates/poligon_i/images/relequick_ancor.jpg") no-repeat;
		background-size: 100%;
		height: 450px;
		}
#relequick_sertificates {
		display: none;
		wigth: 100%;
		height: 211px;
		background: url(/bitrix/templates/poligon_i/images/relequick_sertificates_bg.jpg) repeat-x #fff25f;
}
.relequick_sertificates_list{
		width: 750px;
		margin: auto;
		padding-top: 10px;
}
.relequick_sertificate_thumb{
		height: 180px;
		box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Параметры тени */
		margin-right: 10px;
}
.relequick_sertificate_arrow{
		height: 180px;
		margin-right: 10px;
}
#relequick_logo_story_container {
		position:relative;
		background: #f4c6c6;
		margin-top: 30px;
		#width: 500px;
		height: 300px;
}
#relequick_story{
		background: #f4c6c6;
		font:18px Arial, Helvetica, sans-serif;
		text-decoration:none;
		font-weight:normal;
		text-align: left;
		position:relative;
		#height:0px;
		#opacity:0;
		display: none;
		width: 450px;
		margin-top: -40px;
		color:#000;
}
#relequick_hide_story_arrow{
		width: 140px;
		margin-top: 0px;
		margin-left: 155px;
		display: none;
}
#relequick_logo {
		position:relative;
		height: 100px;
		text-align:center;
		margin-top: -50px;
}
#relequick_device_image {
		height: 350px;
		#margin-top: -100px;
}
.relequick_page{
		font:20px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		height: 550px;
		background: #f4c6c6;
		width: 100%;
		margin-top: -50px;
}
.relequick_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 40px;
}
.relequick_page h2{
		font:20px Arial, Helvetica, sans-serif;
		color:#920833;
		text-decoration: none;
		font-weight:bold;
		text-align: left;
}
.relequick_page h2:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration: none;
		font-weight:bold;
		text-align: left;
}
.redline:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration: none;
		font-weight:bold;
		text-align: left;		
}
.relequick_page a{
		font:26px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.relequick_page a:hover{
		font:26px Arial, Helvetica, sans-serif;
		color:#920833;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}