#sonder_ancor {
		#position: relative;
		#display:block;
		#margin-bottom: 230px;
		background: url("/bitrix/templates/poligon_i/images/sonder_ancor.jpg") no-repeat;
		background-size: 100%;
		height: 400px;
}
#sonder_sertificates {
		display: none;
		wigth: 100%;
		height: 211px;
		background: url(/bitrix/templates/poligon_i/images/sonder_sertificates_bg.jpg) repeat-x #fff25f;
		#margin-bottom: 20px;
}
.sonder_sertificates_list{
		width: 830px;
		margin: auto;
		padding-top: 10px;
}
.sonder_sertificate_thumb{
		height: 180px;
		box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Параметры тени */
		margin-right: 10px;
}
.sonder_sertificate_arrow{
		height: 180px;
		margin-right: 10px;
}
#sonder_logo_story_container {
	   position:relative;
	   width:450px;
	   height:420px;
		background: #7ec6fa;
	   margin-top: 30px;
}
#sonder_story{
		background: #7ec6fa;
		font:14px Arial, Helvetica, sans-serif;
		text-decoration:none;
		font-weight:normal;
		text-align: left;
		position:relative;
		#height:0px;
		#opacity:0;
		display: none;
		width: 500px;
		margin-top: -40px;
		color:#0268b3;
}
#sonder_hide_story_arrow{
		width: 140px;
		margin-top: 0px;
		margin-left: 155px;
		display: none;
}
#sonder_logo_story_container2{
		position:relative;
		width:450px;
		height:420px;
		background: #7ec6fa;
		margin-top: 30px;
}
#sonder_story2{
		background: #7ec6fa;
		font:14px Arial, Helvetica, sans-serif;
		text-decoration:none;
		font-weight:normal;
		text-align: left;
		position:relative;
		#height:0px;
		#opacity:0;
		display: none;
		width: 500px;
		margin-top: -40px;
		color:#0268b3;
}
#sonder_hide_story_arrow2{
		width: 140px;
		margin-top: 0px;
		margin-left: 155px;
		display: none;
}
#sonder_logo {
		position:relative;
		height: 190px;
		text-align:center;
		margin-top: -50px;
		margin-left: 50px;
}
#sonder_device_image {
		height: 350px;
		margin-top: -40px;
}
.sonder_page{
		font:18px Arial, Helvetica, sans-serif;
		color:#0268b3;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		height: 640px;
		background: #7ec6fa;
		width: 100%;
		margin-top: -50px;
}
.sonder_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#0268b3;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 40px;
}
.sonder_page h2{
		font:20px Arial, Helvetica, sans-serif;
		color:#0268b3;
		text-decoration: none;
		font-weight:bold;
		text-align: left;
}
.sonder_page h2:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#fff;
		text-decoration: none;
		font-weight:bold;
		text-align: left;
}
.redline:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#fff;
		text-decoration: none;
		font-weight:bold;
		text-align: left;		
}
.sonder_page a{
		font:26px Arial, Helvetica, sans-serif;
		color:#0268b3;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.sonder_page a:hover{
		font:26px Arial, Helvetica, sans-serif;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}