/Tools/*
/Test/*
/PDF/*
/images/*
/awstats/*
/webalizer/*
/bitrix/cache/*
/bitrix/cache_image/*
/bitrix/managed_cache/*
/bitrix/stack_cache/*
/bitrix/html_pages/*
/bitrix/html_pageshttp:/*
/.htaccess
/upload/*
/upload/product_db_plus_1C.csv
/upload/course.euro
/tmp
/webstat
/pdf/test.csv