header, 
nav, 
section, 
article, 
aside, 
footer {
		display: block;
}
body{
		margin: 0px;
		padding: 0px;
        background:url(/bitrix/templates/poligon_ibx_emko/images/bg_gradient.gif) repeat-y #455df1;
        background-position: center;
}
img{
		border: none;
}
.top_bar{
		position: fixed;
		width: 100%;
		background: #19466c;
		height: 90px;
		z-index: 10000;
}
.top_background{
		background: #19466c;
}
.site_logo{
		position: relative;
		z-index: 1000;
		width: 260px;
		float: left;
		margin-top: 17px;
		margin-left: 5px;
		margin-right: 40px;
}
.site_logo .site_logo_image{
		width: 260px;
		border: none;
}
.site_menu_container{
		width: 510px;
		margin:auto;
		padding-top: 7px;
}
.site_menu_ul{
		margin: 0;
		padding: 4px;
}
.site_menu_ul .site_menu_li{
		display: inline; 
		margin-right: 7px;
		border: 1px solid #fff; 
		padding-left: 5px;
		padding-bottom: 2px;
		font:18px Arial, Helvetica, sans-serif;
		color:#ffffff;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
}
.site_menu_ul .site_menu_li_last{
		display: inline;
		#margin-right: 7px;
		border: 1px solid #fff;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 2px;
		font:18px Arial, Helvetica, sans-serif;
		color:#ffffff;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
}
.site_menu_ul .site_menu_li a{
		color: #fff;
		text-decoration: none;
}
.site_menu_ul .site_menu_li_last a{
		color: #fff;
		text-decoration: none;
}
.phone{
		font:30px Arial, Helvetica, sans-serif;
		color:#ffffff;
		text-decoration:none;
		#font-weight:bold;
		text-align: right;	
		width: 400px;
		float: right;
		margin-top: -8px;
		margin-right: 5px;
}
.search{
		position: fixed;
		width: 100%;
		margin-top: 14px;
}
.search-form{
		width: 300px;
		margin: auto;	
}
.search-form .inputtext{
		font:16px Arial, Helvetica, sans-serif;
		color:#aaaaaa;
		text-decoration:none;
		font-weight:bold;
		text-align: center;		
}
.quick_logo_img{
		float: left;
		margin-top: -32px;
		margin-left: 300px;
		border: none;
}
#special{
		display: none;
		position: relative;
		background: url(/bitrix/templates/poligon_i/images/special_bg.gif) repeat-x #19466c;
		font:12px Arial, Helvetica, sans-serif;
		color:#ffffff;
		text-align: center;
		text-decoration:none;
		font-weight:bold;
		height: 420px;
		margin-top: -12px;
		padding: 10px;
}
#special a{
		font:16px Arial, Helvetica, sans-serif;
		color:#ffdd00;
		text-align: center;
		text-decoration:underline;
		font-weight:bold;		
}
#special_container{
		width: 1700px;
		margin: auto;
}
.special_logo_img{
		width: 210px;
		float: right;
		margin-top: -58px;
		margin-right: 250px;
		border: none;
}
#special_list li{
		display: inline;
}
#special_list div{
		float: left;
		width: 250px;
		padding: 10px;
}
#special_image{
		width: 220px;
}
.special_hide_button{
		position: absolute;
		top: 360px;
		left: 660px;
		width: 585px;
		margin-left: auto;
		margin-right: auto;
		height: 62px;
		font:0px Arial, Helvetica, sans-serif;
}
.special_hide_button img{
		border: none;
}
#contacts{
		display: none;
		position: relative;
		background: url(/bitrix/templates/poligon_i/images/contacts_bg.gif) repeat-x #19466c;
		font:14px Arial, Helvetica, sans-serif;
		color:#ffffff;
		text-decoration:none;
		font-weight:bold;
		height: 420px;
		margin-top: -17px;
		padding: 10px;		
}
#contacts header{
		font:18px Arial, Helvetica, sans-serif;
		color:#ffffff;
		text-decoration:none;
		font-weight:bold;
		width: 860px;
		margin: auto;
		padding: 20px;
}
#contacts header span{
		font: 14px serif;
		font-style: italic;
		color:#ffffff;
		text-decoration:none;		
}
#contacts article{
		width: 1550px;
		margin: auto;
}
#contacts a{
		font:14px Arial, Helvetica, sans-serif;
		color:#00ccff;
		text-decoration:none;
		font-weight:bold;
}
.contacts_column_left{
		float: left;
		width: 300px;
}
.contacts_column_left ul{
		padding-start: 0px;
}
.contacts_column_left span{
		font: 14px serif;
		font-style: italic;
		color:#ffffff;
		text-decoration:none;
}
.yandex_map{
		position: absolute;
		top: 70px;
		right: 170px;
}
.contacts_column_right{
		width: 370px;
		margin: auto;
}
.contacts_column_right span{
		font: 14px serif;
		font-style: italic;
		color:#ffffff;
		text-decoration:none;
}
.contacts_hide_button{
		position: absolute;
		top: 360px;
		left: 660px;
		width: 585px;
		margin-left: auto;
		margin-right: auto;
		height: 62px;
		font:0px Arial, Helvetica, sans-serif;
}
.contacts_hide_button img{
		border: none; /* убрать рамку у ссылок-картинок */
}
.feedback{
		float: left;
		margin-top: -54px;
		margin-left: -130px;
		width: 500px;
		font:12px Arial, Helvetica, sans-serif;
		color:#ffffff;
		text-decoration:none;
}
.feedback .goFormsInputAndTextarea{
		width: 220px;
}
.partners_pad{
		height: 53px;
}
.partners{
		position: fixed;
		width: 100%;
		margin-top: 0px;
		background-color: transparent;
		height: 130px;
		padding-bottom: 10px;
}
.partners .partners_table{
		width: 950px;
		text-align: center;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
}
.partners .partners_table .partners_logo{
		width: 150px;
		border: 4px solid #19466c;
		text-align: right;
}
.intro_pad{
		height: 240px;
		}
.breadcrumbs{
		width: 970px;
		margin: auto;
		font:24px Arial, Helvetica, sans-serif;
		color:#455df1;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		
}
.breadcrumbs a{
		font:24px Arial, Helvetica, sans-serif;
		color:#455df1;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		
}
.breadcrumbs a:hover{
		font:24px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		
}
#work_area{
		display: block;
		font:14px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		text-align: left;
		width: 966px;
		margin:auto;
}
#work_area a{
		font:14px Arial, Helvetica, sans-serif;
		color:#006ab0;
		text-decoration:none;
		font-weight:bold;
}
#work_area h3{
		font-color: #000;		
}
#work_area table tbody tr td{
		vertical-align: top;
}
.open {
		background: url('/images/icons/table_add.png') no-repeat scroll left center transparent;
}
.close {
		background: url('/images/icons/table_delete.png') no-repeat scroll left center transparent;
}
.close, .open {

		border-bottom: 1px dashed;
		font-size: 12px;
		font-weight: bolder;
		text-decoration: none;
		padding-left: 16px;
}
.f-right {
		float: right;
}
.none {
    display: none;
}
#work_area a.open.f-right{
		font-color: #000;
}
.footer_container{
		width: 100%;
		height: 200px;
		background: #19466c;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 10px;
		
}
.footer_container ul{
		margin:0px 0 25px 0px;
		padding-left:3px;
		list-style:none;
}
.footer_container ul li{
		margin:0;
		padding:0 20px;
		display:inline;
}
.footer_container li a{
	font:16px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	font-weight: bold;
}
.footer_container li a:hover{
	color:#fff;
}
.footer_container p{
		font:12px Arial, Helvetica, sans-serif;
}