/* классы для быстрого и кошерного форматирования страниц, особенно копипасты */
/* в перспективе можно подключить сайт к fast-css */
.right  {text-align: right;}
.left  {text-align: left;}
.center {text-align: center;}
.f-left {float: left;}
.f-right {float: right;}

.h200px {height: 200px;}

.px200 {width: 200px;}
.px250 {width: 250px;}
.px400 {width: 400px;}
.p50 {width: 50%;}
.p100 {width: 100%;}

.none {display: none;}
.block {display: block;}
/** блока в углу страниц разделов */
.img-pdf{
	float: right;
	width: 208px;
	padding: 0 0 8px 8px;
	/*padding: 4px;*/
}
.img-pdf img{
	width: 200px;
	display: block;
}

/* убрал, бо перекидывает блок и все ниже идущие под сайдбар, когда нет контента выше, получается много пустоты в контентной области
.see-also {clear:both;}
*/

img.product-image{
	margin-right: 10px;
	max-height: 200px;
	vertical-align: text-top;
}

th:first-letter{text-transform: capitalize;}
table.benefits p {margin: 0px; line-height: 1;}
table.benefits th, table.images-1 th,table.images-2 th,table.images-3 th, table.product th{
	background-color: #CCCCCC;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	
}
table.product, table.product table{width: 100%;}
table.product table {border-collapse: separate; background-color: #EEEEEE;}
table.product table td{
	border: 1px #FFFFFF inset;
	width: 29%; 
	text-align: right;
}
table.product table td:first-child {
	width: 59%; 
	text-align: left;
}

/*

table.product table td:nth-child(odd){
	width: 59%; 
	text-align: left;}
table.product table td:nth-child(even){
	width: 29%; 
	text-align: right;}
	*/
table.benefits. table.product {
	font-size: 12px;
	border-collapse: collapse;
}
/* списки */
#content ul.mark li { list-style: disc inside none; padding-left: 15px;}
dt {font-weight: bold;}

/* сноски */
.note-content {display: none; background: wheat;}
/*  */
.help {cursor: help;}
/* изображения */
/* контейнер для иллюстраций */
div.images, div.image, div.image400{text-align: center;}
div.images img {
	border: none; 
	/*height: auto;
	min-height: 200px;
	width: 32%;*/
	padding: 2px; 
	vertical-align: middle;}
div.image img {border: none; height: auto; width: 300px;}
div.image400 img {border: none; height: auto; width: 400px;}
/* таблицы с посдветкой */
table.backlight td.hover, table.backlight th.hover{
	background-color: #69f;
	color: white;
	font-weight: bold;
}
table.backlight td.hovercell, table.backlight th.hovercell{
	background-color: #abc;
}
table.backlight td.click, table.backlight th.click{
	background-color: #bbb;
}
table.backlight td.hoverrow, table.backlight th.hoverrow{
	background-color: #6df;
}
table.hhi-inverter-table thead th{
	text-align: center;
}
table.hhi-inverter-table td{
	text-align: center;
	border: silver 1px solid;
}
/* таблицы (+с продукцией graesslin) */
table caption {font-weight: bold; text-align: left; font-style: italic;  }
table.zebra {margin-top: 28px;}
table.zebra caption{font-size: 16px; font-weight: bold; text-align: left; font-style: normal;}
table.zebra th{ text-align: left;}
table.zebra tr:nth-child(odd) {background-color: #EFEFEF;}
table.zebra {border-spacing: 0px;}

table.graesslin {border-collapse: collapse;}
table.graesslin th {    
	font-weight: bold;
	text-align: center;
	background-color: #C5DAA7;
}
/*  газовые разрядники */
table.gdt {width: 940px;}
table.gdt td {border: 1px white solid;}
table.gdt td img{max-width: 200px;}
table.gdt th{font-size: 75%;}
.gdt-icon img{width: 48px;}
table.gdt tr:nth-child(odd){background: #dccde4;}
table.gdt tr:nth-child(even){background: #c39fcb;}

table.graesslin td {    
	border: 1px solid #C5DAA7;
	margin-top: 10px;
	padding: 10px;
	vertical-align: top;
}
/*  чудные ссылки */
.close, .open {
    border-bottom: 1px dashed;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
	padding-left: 16px;
}
.open {background: left url('/images/icons/table_add.png') no-repeat;}
.close {background: left url('/images/icons/table_delete.png') no-repeat;}

.first-pdf {
	font-weight: bold;
	font-stretch: expanded;
}
.first-pdf .cover{
	width: 180px;
	border: 2px solid black;	
}

.cover {
	width: 60px;
	border: 1px solid black;
}
#catalogs div {clear: left; border-top: 2px ridge #1063B3;}
#catalogs div ul li{clear: left;}
#catalogs div ul li img.cover{float: left; margin: 0px 4px 4px 0px;}


/* интерактивный подбор реле времени теле */
.releSelect {width: 674px;}
.releSelect .function  label{cursor: pointer;}

.no-voltage {display: none;}
div.function {
	width: 125px; 
	height: 125px; 
	float: left; 
	padding: 2px; 
	margin: 0px;
	overflow: hidden;}
div.function img {
	width: 120px; 
	height: 50px;
	display: block; 
	/*z-index: 10;*/
}
div.function input[type=checkbox] {
	vertical-align: top;
    position: relative;
    left: 112px;
    top: 3px;
    z-index: 10;
}
div.function label{	position: absolute;}

div.function p b{font-weight: bold; font-style: normal;}
div.function p {
	height: 70px;
	line-height: 10pt;
	width: 120px;
	font-size: 9pt;
	font-style: italic;
	word-wrap: break-word;
	padding: 0px;
	margin: 0px;
	background-color: #79b543;}

.select {border: 2px solid Yellow;}	
	
a.PMtr2{text-decoration: none;}
	
/* страница реле */
#releMenu li {
	background: #0c50A3; 
	border-radius: 8px 8px 0px 0px; 
	display: inline-block;
	width: 160px;
	text-align: center;
	margin: 0px;
	padding: 0px;}
#releMenu li:hover {background: #337CCB;}
#releMenu li a{
	color: white;
	font-weight: bold;
	text-decoration: none;
	width: 100%;
	padding: 12px;
}
#releMenu li.active a{
	background: url('/images/icons/bullet_green.png') left center no-repeat;
	text-decoration: underline;
}

.hideImage{
	display: none; 
	position: absolute;
	margin-left: 464px;
	margin-top: -380px;
	#opacity: 0.8}
.hideImage img, img.hideImage{
	width: 300px;
	height: auto;
	border: 2px double #3371b9;}

.hideImage p {
	width: 300px;
	text-align: center;
	background: #3371b9; 
	color: white; 
	font-weight: bold; 
	padding: 0px; 
	margin: 0px;
}

img.hideImage{
	/*position: relative;*/
	margin: 0;
}
/* большие списки для электронных компонентов */
#content ul.ec {padding-bottom: 6px; float: left; font-size: x-small; width: 24%}
#content .producers h2 a {font-size: 1.5em;}

/* citel таблички в разделах каталога */
.new-citel, .new-citel-1  {border-collapse: collapse;}
.new-citel  td, .new-citel-1  td{
	border: 1px silver solid;
	text-align: center;
	vertical-align: middle;	
}
.new-citel-1 h3, .new-citel-1 h2{
	line-height: 1;
	margin: 0px;
	padding: 0px;
}

table.citel-zebra {
	border-collapse: collapse;
}
table.citel-zebra  caption{
	text-align: left;
	background-color: #ff8800;
	color: white;
	padding-left: 1em;
}
table.citel-zebra tr:nth-child(even){
	background-color: #ff9218;
}

table.citel-zebra tr:nth-child(odd){
	background-color: #DDDDDD;
}
table.citel-zebra th{
	background-color: white;
}
table.citel-zebra td,table.tele-zebra th{
	border: ridge 3px #999999;
}

/*.new-citel-1 h3{	white-space: nowrap;}*/
.new-citel-1 ul li{	white-space: nowrap;}

.new-citel td ul {	text-align: left;}

.new-citel  td  dl+ul li {
	display: inline;
	margin-right: 36px;
}
.new-citel  td  dl+ul li a, .new-citel dt{
	font-weight: bold;	
}
.new-citel td dd{	
	text-align: justify;
	margin: 0px;
	padding: 6px;
}

.new-citel  td:first-child {
	width: 30%;
	font-size: 16px;
	font-weight: bold;
}

.new-citel  td img {
	height: 100px;
	width: auto;
}

.new-citel-1  td:first-child {	width: 20%;}
.new-citel-1  td:last-child {width: 40%;}

.new-citel-1  td img {
	height: 125px;
	width: auto;
}
.citel-cs caption{
	font-style: italic;
	text-align: left;
}
.citel-cs{background: #c8ebfc;}
.citel-cs tr:nth-child(odd) {background-color: #91d9f8;}

.partners {border-collapse: collapse;}
.partners tr td:first-child{
	text-align: center;
	vertical-align: middle;

}
.partners td{
	border: 1px silver solid;
	vertical-align: top;
}
.partners td p{padding: 0px 8px;}

/* для релеко, обновлённых страниц */
.relecoLogos{float: right;}
.relecoLogos img{
	height: 48px;
	width: auto: 
}
.benefitLogos img{
	height: 55px;
	width: 55px;
}

table.releco{	width: 940px;}
table.releco caption{
	text-align: left;
	font-size: 18px;
}

table.releco thead{	border-bottom: 1px blue solid}
table.releco th{
	text-align: left;
	border-top: 1px blue solid
}

table.releco img{height: 28px; width: auto;}

table.releco td:nth-child(1) img{
	width: 75px;
	height: auto;
}
table.releco th:nth-child(1){width: 75px;}
table.releco th:nth-child(2){width: 355px;}
table.releco th:nth-child(3){width: 75px;}
table.releco th:nth-child(4){width: 30px;}
table.releco th:nth-child(5){width: 150px;}
table.releco th:nth-child (6){width: 150px;}
table.releco th:nth-child (7){width: 150px;}
table.releco th:nth-child (8){
	width: 40px;
	text-align: center;
}
/* ссылка на форму заказа электронных компанентов со страниц каталога */
#linkToFarnell{
	float: right; 
	padding: 5px; 
	border: 1px rgb(242, 132, 17) dotted; 
	border-radius: 0px 25px 0px 100px/25px;
}

/* картинки-всплывашки */ 
.show {cursor: pointer;}
div.lics img {
	width: 100px;
	height: 140px;
	padding: 4px;
}

#layer{
	width: 100%;
	background: grey;
	opacity: 0.9;
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	filter: alpha(opacity=80);       /* IE 4-7 */
	zoom: 1; /* триггер "hasLayout" в IE 7 и ниже */ 
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
}
#window{
	z-index: 100;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

#popup {
	position: relative;
	z-index: 200;
	width: 60%;
	margin-left: 20%;
	border: 3px blue solid;
	border-radius: 25px;
	background-color: white;
	text-align: center;
}
.closeShow{
	display: inline-block;
	width: 16px;
	height: 16px;
	float: right;
	margin: 15px;
	text-decoration: none;
	background: url('/images/icons/cancel.png') no-repeat;
}
/* контакторы */
.modCont caption{text-align: left;}
.modCont {
	border-collapse: collapse;
	width: 686px;
}
.modCont td[rowspan]{	text-align: left;}
.modCont td[rowspan="1"]{	text-align: center;}

.modCont td, .modCont th{
	border-left: 1px black solid;
	border-right: 1px black solid; 
	text-align: center;
}

.modCont tr{
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

/* benedict */
table.benedict{
	border-collapse: collapse;
	width: 100%;
	/*white-space: nowrap; */
	text-align: center;
}

table.benedict caption{
	font-size: 12px;
	text-align: left;
	padding-top: 24px;
	font-style: italic;
}

table.benedict thead{ 
	background-color: #CCC;
}
table.benedict td , table.benedict th{
	border: 1px solid gray;
	vertical-align: top;
}
table.benedict td{
	text-align: left;
}
table.benedict th.th {
	border: none;
	font-size: 16px;
	text-align: left;
	padding-top: 28px;
}
table.benedict img {max-width: 150px;}
table.benedict th.img {
	border: none;
	vertical-align: middle;
}

/* таблицы с тепловыми реле */
table.ThermalOverloadRelays td.img{
	background: white;
	vertical-align: top;
	text-align: center;
	width: 125px;
	padding: 0px;
	font-style: italic;
}
table.ThermalOverloadRelays {border-collapse: collapse;}

table.ThermalOverloadRelays td.caption{
	background: white;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    padding-top: 20px;	
}
table.ThermalOverloadRelays td{padding-left: 12px;}
table.ThermalOverloadRelays td:nth-child(5) img{width: 100%;}
table.ThermalOverloadRelays td:nth-child(1) img{width: 100%;}
table.ThermalOverloadRelays tr:nth-child(even){background: silver;}
table.ThermalOverloadRelays tr:nth-child(even) td{height: 20px;}

table.modular-tech-params th{text-align: left;}
table.modular-tech-params td{text-align: right;}

table.tele-zebra {
	border-collapse: collapse;
}
table.tele-zebra  caption{
	text-align: left;
	background-color: #79B542;
	color: white;
	padding-left: 1em;
}
table.tele-zebra tr:nth-child(even){
	background-color: #ABE391;
}

table.tele-zebra tr:nth-child(odd){
	background-color: #DDDDDD;
}
table.tele-zebra th{
	background-color: white;
}
table.tele-zebra td,table.tele-zebra th{
	border: ridge 3px #999999;
}

table.product table.tr-snt-table tbody td{
	text-align: right;
}
table.tr-snt-table td:first-child {
    text-align: right;
}
table.tele{
	border: 1px inset #999999;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}
table.tele td, table.tele th{
	border: 1px inset #999999;
	border-collapse: collapse;
}
table.tele tbody th{text-align: left;}
table.tele thead th{text-align: center;}

/* таблицы cbi */
table.cbi {width: 80%; border-collapse: collapse;}
table.cbi td, table.cbi th{border: 1px solid grey;}
table.cbi thead th {font-size: 90%; text-align: left;}
table.cbi tr td:nth-of-type(3){text-align: center;}
table.cbi tr th:nth-of-type(3){text-align: center;}
table.cbi tr td:nth-of-type(4){text-align: center;}
table.cbi tr th:nth-of-type(4){text-align: center;}
/* для статей */
/* 13.12.2012 - вынесено в /css/articles.css */