div.search-tags-chain a {margin:2px;}
div.search-tags-chain a.search-tags-link {color:#333333; font-size:90%; text-decoration:none;color:#535353;}
div.search-tags-cloud a {white-space: normal;}
div.search-page table th{border-bottom:2px solid #CCCCCC;}
div.search-page table td {border-bottom:1px solid #CCCCCC;}
div.search-page table td.qu {border-bottom:0px}
div.search-page table tr.grey {
	background-color: #F3F4EE;
}
div.search-page table tr.spec {
	background-color: #FFE2E1;
}
