@media (min-width: 1600px) {
body{
		margin: 0px;
		padding: 0px;
        background:url(/bitrix/templates/poligon_ibx_emko/images/bg_gradient.gif) repeat-y #455df1;
        background-position: center;
}
.breadcrumbs{
		width: 970px;
		margin: auto;
		font:24px Arial, Helvetica, sans-serif;
		color:#455df1;
		text-decoration:none;
		font-weight:bold;
		text-align: left;		
}
.breadcrumbs a{
		font:24px Arial, Helvetica, sans-serif;
		color:#455df1;
		text-decoration:none;
		font-weight:bold;
		text-align: left;		
}
.breadcrumbs a:hover{
		font:24px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: left;		
}
#work_area{
		display: block;
		font:14px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		text-align: left;
		width: 966px;
		margin:auto;
}
#work_area a{
		font:14px Arial, Helvetica, sans-serif;
		color:#006ab0;
		text-decoration:none;
		font-weight:bold;
}
#work_area h3{
		font-color: #000;		
}
#work_area table tbody tr td{
		vertical-align: top;
}
#work_area a.open.f-right{
		font-color: #000;
}
}
@media (max-width: 1599px) {
body{
		margin: 0px;
		padding: 0px;
        background:url(/bitrix/templates/poligon_ibx_emko/images/bg_gradient.gif) repeat-y #455df1;
        background-position: center;
}
.breadcrumbs{
		width: 970px;
		margin: auto;
		font:24px Arial, Helvetica, sans-serif;
		color:#455df1;
		text-decoration:none;
		font-weight:bold;
		text-align: left;		
}
.breadcrumbs a{
		font:24px Arial, Helvetica, sans-serif;
		color:#455df1;
		text-decoration:none;
		font-weight:bold;
		text-align: left;		
}
.breadcrumbs a:hover{
		font:24px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: left;		
}
#work_area{
		display: block;
		font:14px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		text-align: left;
		width: 966px;
		margin:auto;
}
#work_area a{
		font:14px Arial, Helvetica, sans-serif;
		color:#006ab0;
		text-decoration:none;
		font-weight:bold;
}
#work_area h3{
		font-color: #000;		
}
#work_area table tbody tr td{
		vertical-align: top;
}
#work_area a.open.f-right{
		font-color: #000;
}
}