/* CSS Document */
.iefix
	{
	visibility:hidden;
	}
body
	{
	margin:0;
	padding:0;
	background:url(/bitrix/templates/poligon/images/background_logo.jpg) 992px 220px no-repeat #e1e2e5;
	}
body
{
    /*background-attachment: fixed;*/
}

img
	{
	border:none;
	}
div, input,form
	{
	padding:0;
	margin:0;
	}
	/*START HEAD*/
#main_div
	{
	width:977px;
	padding:0 0 0 15px;
	background:url(/bitrix/templates/poligon/images/background_maindiv.jpg) left top no-repeat #ffffff;
	}
#logo
	{
	height:96px;
	position:relative;
	width:960px;
	}
#logo_link
	{
	display:block;
	width:285px;
	height:53px;
	text-decoration:none;
	position:absolute;
	top:12px;
	left:12px;
	background:url(/bitrix/templates/poligon/images/logo.gif) no-repeat;
	}
#lang
	{
	position:absolute;
	width:45px;
	top:16px;
	left:445px;
	}
#lang a
	{
	text-decoration:none;
	}
#lang .selected
	{
	background:#8bbbf0;
	font:12px Arial, Helvetica, sans-serif;
	color:#ffffff;
	padding:2px;
	}
#lang .not_selected
	{
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	padding:2px;
	}
#mail
	{
	position:absolute;
	right:30px;
	width:136px;
	top:15px;
	height:20px;
	background:url(/bitrix/templates/poligon/images/mail.gif) left 4px no-repeat;
	padding:0 0 0 30px;
	}
#mail a
	{
	color:#3371b9;
	font:14px Arial, Helvetica, sans-serif;
	line-height:20px;
	}
#phone
	{
	color:#2a446a;
	position:absolute;
	right:270px;
	top:15px;
	height:40px;
	font:24px Arial, Helvetica, sans-serif;
	}
#phone .pre
	{
	font:10px Arial, Helvetica, sans-serif;
	height:40px;
	float:left;
	padding:6px 0 0 0;
	width:35px;
	}
#phone a
	{
	color:#3371b9;
	font:11px Arial, Helvetica, sans-serif;
	display:block;
	padding:0;
	margin:0;
	line-height:11px!important;
	}
#form
	{
	position:absolute;
	right:30px;
	bottom:0;
	width:392px;
	}
#form .inputtext
	{
	height:21px;
	border:1px solid #cbc8ba;
	font:14px Arial, Helvetica, sans-serif;
	color:#5590a1;
	width:300px;
	float:left;
	padding:7px 0 0 10px;
	margin:0;
	}
#form .submit
	{
	height:30px;
	padding:0;
	margin:0 0 0 7px;
	width:66px;
	border:1px solid #cbc8ba;
	background:#fdfdfd;
	}
/*END HEAD*/

/*START MENU DIV*/
#menu 
	{
	height:132px;
	margin:0;
	}
#tabs
	{
	margin:0 0 0 10px;
	padding:0;
	list-style:none;
	height:24px;
	}
#tabs li
	{
	float:left;
	display:inline;
	margin:0;
	padding:5px 15px 0 15px;
	}
#tabs li.selected
	{
	display:inline;
	margin:0;
	padding:0 0 0 10px;
	background:url(/bitrix/templates/poligon/images/tab_background_left.jpg) left bottom no-repeat;
	}
/* width fixed, cause IE  don't understand width:100% or width:auto for a(block) */
#tabs li.selected a
	{
	display:block;
	_width:90px;
	_white-space:nowrap;
	margin:0;
	padding:5px 10px 0 0;
	height:19px;
	text-align:center;
	font:18px Arial, Helvetica, sans-serif;
	color:#ffffff;
	background:url(/bitrix/templates/poligon/images/tab_background_right.jpg) right bottom no-repeat;
	}
#tabs li.selected a:hover
	{
	color:#ffffff;
	}
#tabs li a
	{
	text-decoration:none;
	font:12px Arial, Helvetica, sans-serif;
	color:#7a7a7a;
	}
#tabs li a:hover
	{
	color:#37a04a;
	}
#menu #main_area
	{
	height:107px;
	background:url(/bitrix/templates/poligon/images/menu_background.jpg) left top no-repeat;
	text-align:left;
	padding:0 0 0 24px;
	}
#first
	{
	padding:10px 0 0 0;
	margin:0;
	list-style:none;
	}
#first li
	{
	width:185px;
	display:inline;
	float:left;
	}
#first li a
	{
	font:12px Arial, Helvetica, sans-serif;
	color:#ffffff;
	line-height:26px;
	text-decoration:none;
	}
#first li a:hover
	{
	text-decoration:underline;
	}
#navigation
	{
	float:right;
	width:376px;
	padding:5px 0 0 0;
	height:102px;
	}
#navigation div span
	{
	color:#cfddee;
	font:9px Arial, Helvetica, sans-serif;
	padding:0 0 0 10px;
	}
#navigation div a
	{
	color:#ffffff;
	font:12px Arial, Helvetica, sans-serif;
	line-height:30px;
	}
/*Obhie stili dlya div ne videlial na vsiakiy sluchai, chtobi bitrix ne nasledoval*/
#navigation .nav_point0
	{
	background:url(/bitrix/templates/poligon/images/point0.jpg) left center no-repeat;
	height:30px;
	width:170px;
	float:left;
	color:#ffffff;
	font:12px Arial, Helvetica, sans-serif;
	padding:0 0 0 33px;
	line-height:30px;
	}
#navigation .nav_point1
	{
	background:url(/bitrix/templates/poligon/images/point1.jpg) left center no-repeat;
	height:30px;
	width:143px;
	float:left;
	color:#ffffff;
	font:12px Arial, Helvetica, sans-serif;
	line-height:30px;
	padding:0 0 0 25px;
	}
#navigation .nav_point2
	{
	background:url(/bitrix/templates/poligon/images/point2.jpg) left center no-repeat;
	height:30px;
	width:170px;
	float:left;
	color:#ffffff;
	font:12px Arial, Helvetica, sans-serif;
	line-height:30px;
	padding:0 0 0 33px;
	}
#navigation .nav_point3
	{
	background:url(/bitrix/templates/poligon/images/point3.gif) 3px center no-repeat;
	height:30px;
	width:143px;
	float:left;
	color:#ffffff;
	font:12px Arial, Helvetica, sans-serif;
	line-height:30px;
	padding:0 0 0 27px;
	}
#navigation .nav_point4
	{
	background:url(/bitrix/templates/poligon/images/point4.gif) left center no-repeat;
	height:30px;
	width:170px;
	float:left;
	color:#ffffff;
	font:12px Arial, Helvetica, sans-serif;
	line-height:30px;
	padding:0 0 0 33px;
	}
#navigation .nav_point5
	{
	background:url(/bitrix/templates/poligon/images/point5.gif) left center no-repeat;
	height:30px;
	width:143px;
	float:left;
	color:#ffffff;
	font:12px Arial, Helvetica, sans-serif;
	line-height:30px;
	padding:0 0 0 25px;
	}
/*END MENU DIV*/
/*CATALOG DIV START*/
#catalog
	{
	margin:0;
	padding:10px 0 0 0;
	height:1%;
	display:table-cell;
	width:965px;
	}
#print
	{
	float:right;
	width:214px;
	margin:0px;
	padding:0 30px 0 0;
	display:inline;
	font-size:12px;
	height:12px;
	position:absolute;
	left:590px;
	top:250px;
	}
#print a
{
	color:#4192e3;
	font:12px Arial, Helvetica, sans-serif;
	text-decoration:underline;
}
#right
	{
	float:right;
	width:214px;
	/*margin:0 14px 0 11px;
	padding:5px 0 20px 20px;*/
/*	text-indent:6px;*/
	display:inline;
	position:relative;
	}
#right_space
	{
	float:right;
	width:214px;
	background: #fff;
	display:inline;
	position:relative;
}



#partners
	{
	float:right;
	width:214px;
	margin:0 14px 0 11px;
	padding:5px 0 20px 20px;
	background: url(/bitrix/templates/poligon/images/banner_left_top.jpg) no-repeat #edebec;
	text-indent:6px;
	display:inline;
	position:relative;
	}
#partners .top_right_corner
	{
	display:block;
	position:absolute;
	background:url(/bitrix/templates/poligon/images/banner_right_top.jpg) no-repeat;
	top:0;
	right:0;
	height:4px;
	width:4px;
	}
#partners .bottom_right_corner
	{
	display:block;
	position:absolute;
	background:url(/bitrix/templates/poligon/images/banner_right_bottom.jpg) no-repeat;
	bottom:0;
	right:0;
	height:4px;
	width:4px;
	}
#partners .bottom_left_corner
	{
	display:block;
	position:absolute;
	background:url(/bitrix/templates/poligon/images/banner_left_bottom.jpg) no-repeat;
	bottom:0;
	left:0;
	height:4px;
	width:4px;
	}
#partners a
	{
	color:#4192e3;
	font:18px Arial, Helvetica, sans-serif;
	text-decoration:underline;
	}
#catalog_list
	{
	width:696px;
	}
#catalog_right_column
	{
	width:452px;
	float:right;
	}
#special
	{
	background:#fbfaf8;
	border:1px solid #e0e0e0;
	/*border-bottom:none;
	border-top:none;*/
	background:url(/bitrix/templates/poligon/images/special_bg.jpg) left top repeat-x #f1f3ec;
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	line-height:16px;
	float:right;
	width:210px;
	margin:0 14px 0 11px;
	padding:5px 0 20px 20px;
	text-indent:6px;
	display:inline;
	position:relative;
	}
#catalog_list
	{
	width:696px;
	}
#catalog_right_column
	{
	width:452px;
	float:right;
	}
#catalog_list #special
	{
	background:#fbfaf8;
	border:1px solid #e0e0e0;
	border-bottom:none;
	border-top:none;
	padding:12px;
	background:url(/bitrix/templates/poligon/images/special_bg.jpg) left top repeat-x #f1f3ec;
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	line-height:16px;
	}
#catalog_list #specborder, #catalog_list #specborder2
	{
	margin:0 1px; 
	background:#e0e0e0; 
	height:1px;
	}
#special img
	{
	float:left;
	margin:0 15px 0 0;
	}
#special div
	{
	margin:0 0 10px 0;
	}
#special a
	{
	color:#37a04a;

	font:18px Arial, Helvetica, sans-serif;
	text-decoration:underline;
	}
#catalog_list a.title
	{
	color:#4192e3;
	font:18px Arial, Helvetica, sans-serif;
	text-decoration:underline;
	}
#catalog_left_column
	{
	margin:0;
	padding:6px 0 0 0;
	float:left;
	width:232px;
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	}
#catalog_left_column ul
	{
	padding:0;
	list-style:none;
	margin:17px 0 0 0;
	}
#catalog_left_column ul li
	{
	margin:0;
	padding:0;
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	line-height:17px;
	}
#catalog_left_column ul li a
	{
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	line-height:17px;
	}
#catalog_left_column ul li a:hover
	{
	color:#e2a130;
	}
	
#catalog_right_column ul
	{
	padding:0;
	list-style:none;
	margin:7px 0 0 0;
	width:200px;
	float:left;
	}

#catalog_right_column ul.second
{
	width:212px;

}

#catalog_right_column ul li
	{
	margin:0;
	padding:0;
	line-height:12px;
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	line-height:17px;
	}
#catalog_right_column ul li a
	{
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	line-height:17px;
	}
#catalog_right_column ul li a:hover
	{
	color:#e2a130;
	}
.spacer
	{
	height:18px;
	} 
/*CATALOG DIV END*/

/*START CONTENT_DIV*/
#content_div
	{
	overflow:hidden;
	height:1%;
	margin:0;
	padding:10px 10px 0 0;
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	line-height:19px;
	}
#news
	{
	float:right;
	width:285px;
	margin:0 4px 0 10px;
	background: url(/bitrix/templates/poligon/images/news_top_left_corner.jpg) no-repeat #e8f7ff;
	position:relative;
	display:inline;
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	line-height:18px;
	padding:20px 15px 20px 15px;
	}
#news .news_top_right_corner
	{
	display:block;
	position:absolute;
	background:url(/bitrix/templates/poligon/images/news_top_right_corner.jpg) no-repeat;
	top:0;
	right:0;
	height:4px;
	width:4px;
	}
#news .news_bottom_right_corner
	{
	display:block;
	position:absolute;
	background:url(/bitrix/templates/poligon/images/news_bottom_right_corner.jpg) no-repeat;
	bottom:0;
	right:0;
	height:4px;
	width:4px;
	}
#news .news_bottom_left_corner
	{
	display:block;
	position:absolute;
	background:url(/bitrix/templates/poligon/images/news_bottom_left_corner.jpg) no-repeat;
	bottom:0;
	left:0;
	height:4px;
	width:4px;
	}
#news .newstitle
	{
	font:18px Arial, Helvetica, sans-serif;
	color:#2962a5;
	}
#news_list
	{
	margin:0 0 14px 0;
	padding:0;
	list-style:none;
	}
#news_list li
	{
	padding:0 ;
	margin:0;
	}
#news_list li a
	{
	font:12px Arial, Helvetica, sans-serif;
	color:#075580;
	line-height:18px;
	text-decoration:none;
	display:block;
	padding:3px 10px 10px 5px;
	height:1%;
	}
#news_list li a:hover
	{
	color:#35ba45;
	background:#f4fbff;
	}
#news_list li span
	{
	font:10px Arial, Helvetica, sans-serif;
	color:#7199bc;
	line-height:18px;
	}
#news .subscribetitle
	{
	font:18px Arial, Helvetica, sans-serif;
	color:#975290;
	}
.subscribe_inputtext
	{
	height:24px;
	border:1px solid #cbc8ba;
	font:12px Arial, Helvetica, sans-serif;
	color:#8a41ac;
	width:160px;
	float:left;
	padding:7px 0 0 10px;
	margin:0;
	}
.subscribe_submit	
	{
	height:33px;
	padding:0;
	margin:0 0 0 4px;
	width:100px;
	border:1px solid #cbc8ba;
	background:#fdfdfd;
	}
.spacer2
	{
	margin:7px 0;
	} 
#bread_crumbs
	{
	font:18px Arial, Helvetica, sans-serif;
	}
#bread_crumbs a
	{
	font:15px Arial, Helvetica, sans-serif;
	color:#4188db;
	}
#bread_crumbs a:hover
	{
	color:#35ba45;
	}
#bread_crumbs span
	{
	font:15px Arial, Helvetica, sans-serif;
	color:#989898;
	}
#content
	{
	padding:0;
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	line-height:19px;
	}
#content a
	{
	font:12px Arial, Helvetica, sans-serif;
	color:#075580;
	}
#content ul
	{
	margin:0;
	padding:0;
	}
#content ul ul
	{
	margin:0 0 0 10px;
	padding:0;
	}
#content ul li
	{
	list-style:none;
	}
/*END CONTENT_DIV*/
.clear
	{
	clear:both;
	height:1px;
	}
/*footer*/
#footer
	{
	border-top:1px solid #d3d3d3;
	width:992px;
	background:#ffffff;
	height:150px;
	color:#000000;
	font:12px Arial, Helvetica, sans-serif;
	}
#adress
	{
	float:right;
	width:330px;
	padding:10px 0 0 0;
	}
#footer_list
	{
	margin:10px 0 25px 10px;
	padding:0;
	list-style:none;
	}
#footer_list li
	{
	margin:0;
	padding:0 20px;
	display:inline;
	}
#footer_list li a
	{
	font:12px Arial, Helvetica, sans-serif;
	color:#2962a5;
	}
#footer_list li a:hover
	{
	color:#35ba45;
	}
#copyright
	{
	padding:0 0 0 30px;
	color:#adadad;
	}
#copyright a
	{
	color:#ADADAD;
	text-decoration:none;
	}
#copyright a:hover
	{
	text-decoration:underline;
	}
@media all and (min-width: 0) 
	{
    .subscribe_inputtext
		{
		padding:0 0 0 10px;
		height:31px;
		}
	#form .inputtext
		{
		height:28px;
		padding:0 0 0 10px;
		}
    }
.spacer3
	{
	height:10px;
	} 
/*font{
	display:none;
}*/
/*#ajax_container{
	position:fixed;
	height: 263px; 
	width: 380px;
text-align:center;
	border-top: solid 1px #000;
	overflow: auto; 
	opacity:1; 
	z-index:1000;
	background:#fff;
	padding:10px;
top: expression(
    eval(document.body.scrollTop) + "px"
);

}*/
table#title, table#title td
{
padding:0px;
margin:0px;
border-spacing:0px;
}
table#title td#tit
{
padding-left:20px;
font-size:12px;
color:#fff;
}

div#ajax_container1 
{ 
	position: absolute; 
	left: 35%; 
	top: 35%; 
	display:none;
	height: 300px;
	width: 400px;
	margin: 0 auto;
	border: solid 1px #000;
	opacity:1;
	z-index:1000;
	background:#074EA0;
	line-height:16px;
}

div#ajax_container 
{ 
	position: absolute; 
	left: 0px;
	top: 16px; 
	height: 243px; 
	width: 360px;
	border-top: solid 1px #000;
	overflow: auto; 
	opacity:1; 
	z-index:1000;
	background:#fff;
	padding:20px;
}

#overlay{
	position:absolute;
	display:none;
	background:#333333;
	_filter: alpha(opacity=50, style=0);
	opacity:0.5;
	height:100%
	width:100%;
	z-index:999;
}
#_table
	{
	padding:0;
	font:14px Arial, Helvetica, sans-serif;
	color:#000000;
	line-height:19px;
	}
#_table a
	{
	font:14px Arial, Helvetica, sans-serif;
	}
.second
{
	width:212px;

}
body > div#ajax_container { position: fixed; } 
body > div#ajax_container1 { position: fixed; } 
<!--[if gte IE 5.5]>
<![if lt IE 7]>

div#ajax_container {
/* IE5.5+/Win - будет работать в IE5.5 и 6 */
top: expression( eval( screen.height*0.25 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div#ajax_container1 {
/* IE5.5+/Win - будет работать в IE5.5 и 6 */
top: expression( eval( screen.height*0.25 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );

}

<![endif]>
<![endif]--> 

