body{
		margin: 0px;
		padding: 0px;
        #background: #7ab51d;
        background:url(/bitrix/templates/poligon_ibx_farnell/images/bg_gradient.gif) repeat-y #7ab51d;
	background-position: center;
}
#print {
		width: 970px;
		margin: auto;
		text-align: right;
}
#print a{
		font:14px Arial, Helvetica, sans-serif;
		color:#7ab51d;
		text-decoration:none;
		font-weight:bold;
}
#print a:hover{
		font:14px Arial, Helvetica, sans-serif;
		color:#7ab51d;
		text-decoration:none;
		font-weight:bold;
}
#work_area{
		display: block;
		font:18px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		#font-weight:bold;
		text-align: left;
		width: 966px;
		margin:auto;
}
#work_area a{
		font:18px Arial, Helvetica, sans-serif;
		color:#7ab51d;
		text-decoration:none;
		font-weight:bold;
}
#work_area h3{
		font-color: #000;		
}
#work_area table tbody tr td{
		vertical-align: top;
				border: 1px solid;
		border-color: #7ab51d;
}
#work_area a.open.f-right{
		font-color: #000;
}