.catalog-price {
	 color:black;
	font-size:12px;
}



div.catalog-section table th {
/*	padding-right:10px;
	padding-top:10px;*/
	text-align:left;
	border-bottom:2px solid #ccc;
}

div.catalog-section table td {
/*	padding-right:10px;
	padding-top:10px;*/
	border-bottom:1px solid #ccc;
}

div.catalog-section table td.qu {
	border-bottom:0px;
}
