header, 
nav, 
section, 
article, 
aside, 
footer {
		display: block;
}
body{
		margin: 0px;
		padding: 0px;
}
.top_bar{
		position: fixed;
		width: 100%;
		background: #19466c;
		height: 190px;
}
.site_logo{
		width: 300px;
		float: left;
		margin-top: 10px;
		margin-left: 5px;
		margin-right: 36px;
}
.site_logo .site_logo_image{
		width: 300px;		
}
.site_menu_container{
		width: 565px;
		margin:auto;
		padding-top: 7px;
}
.site_menu_ul{
		margin: 0;
		padding: 4px;
}
.site_menu_ul .site_menu_li{
		display: inline; /* Отображать как строчный элемент */
		margin-right: 7px; /* Отступ слева */
		border: 1px solid #fff; /* Рамка вокруг текста */
		padding: 5px; /* Поля вокруг текста */
		font:18px Arial, Helvetica, sans-serif;
		color:#ffffff;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
}
.site_menu_ul .site_menu_li_last{
		display: inline; /* Отображать как строчный элемент */
		#margin-right: 7px; /* Отступ слева */
		border: 1px solid #fff; /* Рамка вокруг текста */
		padding: 5px; /* Поля вокруг текста */
		font:18px Arial, Helvetica, sans-serif;
		color:#ffffff;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
}
.site_menu_ul .site_menu_li a{
		color: #fff;
		text-decoration: none;
}
.site_menu_ul .site_menu_li_last a{
		color: #fff;
		text-decoration: none;
}
.phone{
		font:42px Arial, Helvetica, sans-serif;
		color:#ffffff;
		text-decoration:none;
		#font-weight:bold;
		text-align: right;	
		width: 400px;
		float: right;
		margin-top: -18px;
		margin-right: 5px;
}
.phone_image{
		width: 200px;
}
.search{
		position: fixed;
		width: 100%;
		top: 50px;
}
.search-form{
		width: 300px;
		margin: auto;	
}
.search-form .inputtext{
		font:16px Arial, Helvetica, sans-serif;
		color:#aaaaaa;
		text-decoration:none;
		font-weight:bold;
		text-align: center;		
}
.partners{
		position: fixed;
		width: 100%;
		margin-top: 50px;
		background: #ffffff;
		height: 130px;
		padding-bottom: 10px;
}
.partners .partners_table{
		width: 950px;
		text-align: center;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
}
.partners .partners_table .partners_logo{
		width: 150px;
		border: 1px solid #606060;
}
.intro{
		padding-top: 200px;
		font:36px Arial, Helvetica, sans-serif;
		color:#606060;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		width: 100%;
		margin:auto;
		height: 660px;
}
.intro h1{
		text-align: center;
		font:36px Arial, Helvetica, sans-serif;
		font-weight:bold;
}
.intro h2{
		text-align: center;
		font:36px Arial, Helvetica, sans-serif;
}
.intro p{
		font:20px Arial, Helvetica, sans-serif;
		color:#606060;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		padding-top: 36px;
		padding-left: 70px;
		padding-right: 70px;
}
.intro a{
		font:20px Arial, Helvetica, sans-serif;
		color:#19466c;
		text-decoration:none;
		font-weight:bold;
}
.intro a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#00ccff;
		text-decoration:none;
		font-weight:bold;
}
.intro img{
		width: 300px;
}
.intro_table{
		width: 1350px;
		margin: auto;
}
.intro td{
		vertical-align: top;
}
.intro_arrow{
		vertical-align: top;
}
.intro_arrow img{
		width: 170px;		
}
.iso9001{
		float: right;
		margin-top: -60px;
		margin-right: 70px;
		height: 150px;
}
.iso9001 img{
		width: 120px;
}
.tele_page{
		height: 600px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.tele_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#000000;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.tele_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#000000;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.tele_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#80bd01;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.citel_page{
		font:20px Arial, Helvetica, sans-serif;
		color:#afb6bc;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		height: 550px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.citel_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#afb6bc;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.citel_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#afb6bc;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.citel_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#ffd80e;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.benedict_page{
		height: 450px;
		background: #ffffff;
		width: 100%;
		margin-top: -50px;
}
.benedict_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#127e6f;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.benedict_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#127e6f;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.benedict_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#808185;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.graesslin_page{
		height: 450px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.graesslin_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#8a8b8d;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.graesslin_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#8a8b8d;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.graesslin_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#b9074a;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.sonder_page{
		height: 450px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.sonder_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#0268b3;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.sonder_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#0268b3;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.sonder_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#73b9ed;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.relequick_page{
		height: 500px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.relequick_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.relequick_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.relequick_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#920833;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.comat_releco_page{
		height: 450px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.comat_releco_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#006ab0;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.comat_releco_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#006ab0;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.comat_releco_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#60bff7;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.emko_page{
		height: 650px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.emko_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#3c59ff;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.emko_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#3c59ff;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.emko_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#6f84fe;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.cbi_page{
		height: 550px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.cbi_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.cbi_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.cbi_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#d02128;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.huber_suhner_page{
		font:20px Arial, Helvetica, sans-serif;
		color:#005192;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		height: 450px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.huber_suhner_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#005192;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.huber_suhner_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#005192;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.huber_suhner_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#000;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.farnell_page{
		font:20px Arial, Helvetica, sans-serif;
		color:#ff6600;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
		height: 650px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.farnell_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#ff6600;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.farnell_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#ff6600;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.farnell_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#ff6600;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.vemer_page{
		height: 550px;
		background: #fff;
		width: 100%;
		margin-top: -50px;
}
.vemer_page h1{
		font:36px Arial, Helvetica, sans-serif;
		color:#ff0d01;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 36px;
}
.vemer_page a{
		font:20px Arial, Helvetica, sans-serif;
		color:#ff0d01;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.vemer_page a:hover{
		font:20px Arial, Helvetica, sans-serif;
		color:#9f0903;
		text-decoration:none;
		font-weight:bold;
		text-align: left;
}
.work_area{
		display: none;
}
.footer_container{
		width: 100%;
		background: #19466c;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		text-align: center;
		padding-top: 10px;
}
.footer_container ul{
		margin:0px 0 25px 0px;
		padding-left:3px;
		list-style:none;
}
.footer_container ul li{
		margin:0;
		padding:0 20px;
		display:inline;
}
.footer_container li a{
	font:14px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	font-weight: bold;
}
.footer_container li a:hover{
	color:#fff;
}
.footer_container p{
		font:11px Arial, Helvetica, sans-serif;
}